.nav-menu{
    display: inline-list-item;
    background: blue;
    position: absolute;
    width: 97%;
    font-size: xx-large;
}

.nav-menu li{
    display: inline-block;
    font-size: xx-large;
}
